@use "../config/variables" as var;

.faq {
    flex: 1 1 0;
    padding: 0;
    margin: 5rem 6rem 5rem 8rem;

    h1 {
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

.dropdowns {
    

    .dropdown {
        border-bottom: 1px solid var.$light-grayish-blue;

        &:hover {
            cursor: pointer;
        }

        .hidden {
            max-height: 0;
            overflow: hidden;
            transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55)
        }

        &.active .hidden {
            max-height: 300px;
            color: var.$dark-grayish-blue;
            font-size: 0.8rem;
            padding-bottom: 2rem;
        }

        &.active img {
            transform: rotate(180deg);
            transition: transform 0.5s ease-in;
        }

        &.active .question p {
            font-weight: 700;
            color: var.$very-dark-grayish-blue;
        }
    
        .question {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 1.5rem 0;
            font-size: 1rem;

    
            p {
                color: var.$dark-grayish-blue;
                font-weight: 400;
                
            }
        }
    }

}
