main {
    max-width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
   justify-content: space-between;
    background: white;
    border-radius: 1.5rem;
}

