main {
    max-width: 65%;
}

.container {
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 1.5rem;
}

.faq {
    width: 50%;
    border: 1px solid blue;
}

picture {
    border: 1px solid pink;
}