.img-container {
    background-image: url("../../images/bg-pattern-desktop.svg");
    background-size: cover;
}

.woman {
    position: absolute;
    height: 170px;
    top: 12.5rem;
    left: 2rem;
}

.pattern {
    height: 170px;
}