@use "../config/variables" as var;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var.$theme-text-font;
    font-size: 12px;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    background: linear-gradient(-20deg, var.$soft-blue 0%, var.$soft-violet 100%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 65%;
    background: white;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}